{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Codes{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('search.create') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for post in posts %}
    <article class="post">
      <header>
        <div>
          <h1>{{ post['func_name'] }}</h1>
          <div class="about">by {{ post['path'] }} on {{ post['sha'] }}</div>
        </div>
        {% if post['id'] %}
          <a class="action" href="{{ url_for('search.update', id=post['id']) }}">detail</a>
        {% endif %}
	<div>
		<details>
			<summary>Doc</summary>
			<p> {{post['doc']}} </p>
		</details>
		<details>
			<summary>Code</summary>
			<p> {{post['code']}}</p>
		</details>
	</div>
      </header>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}
