{% extends 'base.html' %}

{% block header %}
  <label for="site-search">Search the repo:</label>
  <form action="" method="GET">
      <input type="search" id="site-search" name="q" />
      <!--button>Search</button-->
  </form>
  <h1>{% block title %}Codes{% endblock %}</h1>
{% endblock %}

{% block content %}
  {% for post in posts %}
    <article class="post">
      <header>
        <div>
          <h1>{{ post['func_name'] }}</h1>
          <div class="about">by {{ post['path'] }} on {{ post['sha'] }}</div>
        </div>
        {% if post['distance'] %}
	<p>distance {{ (post['distance']*10000)|round|int }} </p>
        {% endif %}
        <div>
        <details>
            <summary>Doc</summary>
        	<pre><code> {{post['doc']}}</code> </pre>
                	<form action="{{ url_for('search.detail') }}"  method="GET">
                	    <input type="text" id="qi-query" value="{{post['search-query']}}"
                        	style = "display: none;" name="query"/>
                		    <input type="text" id="qi-post-id" value="{{post['postid']}}"
                			style = "display: none;" name="postid"
                		    />
                		    <input type="text" id="qi-cross-type" value="NL"
                			style = "display: none;" name="cross_type"
                		    />
                		    <input type="submit" value="Inspect"/>
                		</form>
        </details>
        <details>
        	<summary>Code</summary>
        	<pre><code> {{post['code']}}</code></pre>
                		<form action="{{ url_for('search.detail') }}"  method="GET">
                		    <input type="text" id="qi-query" value="{{post['search-query']}}"
                			style = "display: none;" name="query"
                		    />
                		    <input type="text" id="qi-post-id" value="{{post['postid']}}"
                			style = "display: none;" name="postid"
                		    />
                		    <input type="text" id="qi-cross-type" value="PL"
                			style = "display: none;" name="cross_type"
                		    />
                		    <input type="submit" value="Inspect"/>
                		</form>
        </details>
	</div>
    {% if post['query-id'] %}
    <!-- note this makes radio button clicks trigger too but for now get it to work-->
    <form id="query-id-{{post['query-id']}}" onclick="clickNHide(this.id)">
      <fieldset> <!--user relevance input -->
        <legend>Relevant?:</legend>
        <div id="query-id-radio-{{post['query-id']}}" onclick="clickNSubmit(this.id)">
          <input type="radio" name="yes-no" value="yes"/>
          <label for="yes">Yes</label>
          <input type="radio" name="yes-no"/ value="no">
          <label for="no">No</label>
          <!--not displayed/hidden because we usually do not want the human to edit these values -->
          <input type="text" name="distance" style = "display: none;" value="{{post['distance']}}"/>
          <input type="text" name="postid" style = "display: none;" value="{{post['postid']}}"/>
          <input type="text" name="query-id" style = "display: none;" value="{{post['query-id']}}"/>
          <input type="text" name="rank" style = "display: none;" value="{{post['rank']}}"/>
        </div>
     </fieldset>
      <input type="button" value="done?"/>
    </form>
  {% endif %}
      </header>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}

