# TODO: specify minimum versions for these and any max constrains

bertviz
black
click
flask
IPython
jsonlines
numpy==1.24
pandas
sqlite-vec
sqlean.py
torch
transformers
scipy

# These are for the llm clients
# TODO: make these optional imports via `extras` in a setup.py
#    the idea being so that you can include any subset of these if
#    you do not have or want to use all...
openai
google-generativeai # NOTE: this one may be unnecessary, not sure though
google-cloud-aiplatform
huggingface_hub


# additional retriever baselines
bm25s>=0.2.10


# for the prompt tuning cli script only
textgrad>=0.1.8

# herd
llama-api-client>=0.1.1